/* index.css */

/* Define custom CSS variables */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-background: blueviolet;
  --font-family-inter: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
@layer base {
  .app-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    /* background: linear-gradient(125deg, #0a092f, #1a0f00); */
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-weight: var(--font-weight-regular);
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  .seeker-range {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
  }

  .seeker-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    background: transparent;
    border: none;
  }
}

@layer components {
  .control-button {
    @apply lg:h-[48px] lg:w-[48px] h-[40px] w-[40px] text-center rounded-full bg-[rgba(255,255,255,0.1)] flex justify-center items-center cursor-pointer transition-all duration-300;
  }

  .control-button:hover {
    @apply bg-[rgba(255,255,255,0.3)] border-[rgba(255,255,255,0.7)];
  }
}
